
.wrapper{
    iframe{
        width: 100%;
        height: 400px;
    }
    .loader-container {
        margin-top: 15vh;
        @media(max-width:768px){
            margin-top: 5vh;
        }
    }
    .detail{
        @media(max-width:768px){
            padding-top: 15vh !important;
        }
        background: #fff !important;
        h1{
            color:#555;
            font-family: Lato;
            font-size: 4em;
            font-weight: 100;
            text-shadow:none;
            margin-bottom: 0px;
            @media(max-width:768px){
                font-size: 3em;
            }
        }
        h3{
            color: #666;
            font-weight: 100;
            letter-spacing: 1px;
            margin-top: -5px;
        }
        p{
            font-size: 22px;
            color: #fff;
            line-height: 30px;
        }
    }
    .post-text{
        margin:0 auto;
        text-align: left;
        background: #fff;
        p{
            color:#555;
            font-size: 20px !important;
            letter-spacing: 1px;
        }
        padding: 20px 20px;
        h1{
            text-align: center;
        }
        img{
            width: 100% !important;
            margin: 30px 0px !important;
        }
    }
    .back-to-posts{
        margin-left:-10px;
        margin-bottom:10px;
        text-align: left;
        @media(max-width:768px){
            text-align: center !important;
        }
    }
}