.post{
    
    text-align: left;
    border: 1px solid #9e9e9e54;
    background: white;
    color: #312f2fe8;
    margin: 15px auto;
    border-radius: 7px;
    overflow: hidden;
    display: flex;
    padding: 0;
    box-shadow: 0px 2px 10px 1px #0000001c;
    @media(max-width:768px){
        margin: 0px;
        display: block;
        border-radius: 0px;
    }

    .image{
        flex:1;
        width: 35%;
        background-size: cover !important;
        img{
            width: 100%;
            min-height: 100%;
        }
        @media(max-width:768px){
            height:auto;
            width: 100%;
        }
    }
    .introbox{
        flex:2;
        padding:15px;
        .title{
            font-size: 18px;
            font-weight: 600;
            color:#312f2fe8;
        }
        .intro{
            color:#312f2fe8;
            font-size:14px;
            line-height: 20px;
            height: 110px;
            @media(max-width:768px){
                height: 180px;
            }
        }
    }
    .details{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        font-size: 10px;
        height: 30px;
        p{
            margin-top: 10px;
            color: #6d6868;
            font-size: 10px;
            @media(max-width: 768px){
                margin-right: 5px;
            }
        }
        .label{
            font-size: 10px;
        }
        button{
            font-size:10px;
        }
    }
}