.header {
    padding: 16px 16px;
  }
  .content {
    padding: 16px 16px;
    height: 100vh;
    overflow: auto;
    @media(max-width:768px){
      padding: 0px;
    }
  }
.floating{
  position: fixed;
  bottom: 100px;
  right: 100px;
  width: 110px;
  @media(max-width: 768px){
    display: none;
  }
}
.container{
  @media(max-width:768px){
    padding: 0px;
  }
}